#portfolio
    {
        background: #1a1a1a;
        text-align: center;
		 font-family: "Playfair Display", serif;
    }
#portfolio h2
    {
        padding-top: 30px;
		padding-bottom: 30px;
  font-family: "Playfair Display", serif;
  font-size: 28px;
		font-weight: 400;
		color: white;
    }
#portfolio .portfolio-thumb
    {
        overflow: hidden;
        position: relative;
        margin-bottom: 30px;
    }
#portfolio .portfolio-thumb .portfolio-overlay
    {
        background: #FFFFFF;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        padding-top: 60px;
        transition: all 0.4s ease-in-out;
    }
#portfolio .portfolio-thumb:hover .portfolio-overlay
    {
        cursor: pointer;
        opacity: 0.8;
        transform: scale(0.9);
    }